# Common dependencies
-r requirements-common.txt

# Dependencies for CPUs
torch==2.5.1+cpu; platform_machine != "ppc64le" and platform_machine != "aarch64" and platform_machine != "s390x" and platform_system != "Darwin"
torch==2.5.1; platform_machine == "aarch64" or platform_machine != "s390x" or platform_system == "Darwin" 
torchaudio; platform_machine != "ppc64le" or platform_machine != "s390x"
torchvision; platform_machine != "ppc64le" or platform_machine != "s390x" # required for the image processor of phi3v, this must be updated alongside torch
datasets # for benchmark scripts
